{{<examples/alpha/alpha_layout}}

{{$pageTitle}}
	Tax-Free Childcare
{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  <div class="inner-block">

  {{>includes/tfc-header}}

		<form action="/apply" class="form" method="post">

          <!-- Employer supported childcare -->

            <fieldset class="inline">
              <legend class="heading-medium">
              	Employer Supported Childcare
              </legend>

              <p class="form-label">Are you currently claiming employer supported childcare?</p>
              <label for="claiming-esc-yes" class="block-label">
                <input id="claiming-esc-yes" type="radio" name="radio-inline-group" value="Yes">
                Yes
              </label>
              <label for="claiming-esc-no" class="block-label">
                <input id="claiming-esc-no" type="radio" name="radio-inline-group" value="No">
                No
              </label>
            </fieldset>

            <!-- personal details -->

            <fieldset class="inline">
               <legend class="heading-medium">
                Personal Details
              </legend>

              <!-- National insurance number -->

              <div class="form-group">
                    <label for="full-name-f2" class="form-label">National Insurance Number
                      <span class="form-hint">It'll be on your last payslip. For example, JH 21 90 0A.</span>
                    </label>
                    <input type="text" class="form-control" id="full-name-f2">
                  </div>
            </fieldset>

            <!-- Child -->

             <fieldset class="inline">
               <legend class="heading-medium">
                Child/children
              </legend>

              <legend class="form-label">Do you have a child or are you the guardian of a child?</legend>
              <div class="form-group form-group-related">
                <label for="radio-indent-1" class="block-label selected" data-target="child">
                  <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
                  Yes
                </label>
                <label for="radio-indent-2" class="block-label">
                  <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
                  No
                </label>
              </div>

                <!-- children sub -->

                <div class="panel-indent toggle-content" id="child" style="display: block;">
                  <fieldset class="inline">
                     <legend class="heading-small">
                      Child's Details
                    </legend>

                      <label for="child-name" class="form-label">Childs full name</label>
                      <input type="text" class="form-control" id="child-name">

                      <label for="child-age" class="form-label">Childs date of birth
                        <span class="form-hint">For example: 27/08/1991</span>
                      </label>
                      <input type="date" class="form-control" id="child-age">
                    
                          <!-- Child benefits -->

                          <legend class="heading-small">
                            Child Benefits
                          </legend>

                            <p class="form-label">Do you currently receive benefits for this child?</p>
                              <div class="form-group form-group-related">
                                <label for="radio-indent-1" class="block-label selected" data-target="child">
                                  <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
                                  Yes
                                </label>
                                <label for="radio-indent-2" class="block-label">
                                  <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
                                  No
                                </label>
                              </div>

                          <div class="panel-indent toggle-content" id="child-benefit" style="display: block;">
                              <div class="form-group">
                                <label class="form-label" for="child-benefit-number">
                                  Child benefit number
                                  <span class="form-hint">This can be found on your latest benefit document</span>
                                </label>
                                <input type="text" class="form-control" id="child-benefit-number">
                              </div>
                          </div>

                  </fieldset>
                </div>
            </fieldset>


        <div class="form-group">
          <input type="submit" class="button" value="Save and continue">
        </div>

        <a href="#">Back</a>

      </form>

  </div>
</main>
{{/content}}

{{/examples/alpha/alpha_layout}}


