{{<examples/alpha/alpha_layout}}

{{$pageTitle}}
  Tax-Free Childcare
{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  <div class="inner-block">

  {{>includes/tfc-header}}


    <form action="/login" class="form" method="post">
			<div class="grid-wrapper">
				<div class="grid-wrapper">
					<div class="grid grid-1-2">
					<p> Congratulations!!! Your TFC account has been created successfully.
					Your unique identification number is <h3 class="heading-medium">TFC-1234-ABC</h3>
					</p>
							
					</div>
				</div>
					
				
					
				<div class="grid-wrapper">
				<div class="grid grid-1-2"> &nbsp;</div>
				<div class="form-group">
				  <a href="/login" class="button">Ok</a>
				</div>
				</div>
				
				
			</div>

      </form>

  </div>
</main>
{{/content}}

{{/examples/alpha/alpha_layout}}


